# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.vite/

# Environment
.env
.env.local
.env.production
.env.*.local

# AWS
.aws-sam/
samconfig.toml
*.zip
tmp/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Misc
*.tsbuildinfo
